
$ancho-box:80%;
$alto-box:300px;

$colores:(
    fondo:aqua,
    titulares: #B43317,
    parrafo:#851B05, 
    fondoT: linear-gradient(white, beige),
);

$letra:(
    fuente: arial, times,
    estilo: italic,
);
