
$ancho-box:80%;
$alto-box:300px;


$colores:(
    fondo: white,
    titulares: #B43317,
    parrafo:#851B05,
    fondoT: linear-gradient(white, beige),
    menu: #C0392B
);

$letra:(
    fuente: Courier,
    estilo: italic,
    fuente2: arial,


);
