h1 {
    color: black;
}
/*

body{
    background-color:map-get(c.$colores,"fondo");
}

h1{
    color:map-get(c.$colores,"titulares");
}

//Condicionales
p{
    @if map-get(c.$colores,"fondo")==#FCF4D9{color:black}
    @else {color:white}
}


.box-container{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap:10px;
    text-align: center;
}

//Operadores

.box{
    width: calc(c.$ancho-box/3);
    background-color: map-get(c.$colores,"box");
    height: c.$alto-box;

    //Anidacion y Operador de suma
    &:nth-child(2){
        height: calc(c.$alto-box + 100px);
    }

}

//EXTEND

.box-container-2{
    @extend .box-container;
    margin-top: 30px;
}


.box-2{
    @extend .box;
}


.box-container-3{
    @extend .box-container-2;
}

//MIXINS (algunos no llevan la c. delante porque funcionan a nivel local)
@mixin box-editable ($color-mixin:black){
    width: calc(c.$ancho-box/3);
    background-color: $color-mixin;
    height: c.$alto-box;
}

.box-3{
    @include box-editable($color-mixin:green);
}