
/* no sirve
//Variables de la caja

$ancho-box:80%;
$alto-box:300px;



//Variables de colores con MAP
$colores:(
    fondo:#FCF4D9,
    titulares: #00AAA0,
    parrafo:black,
    box: #FF7A5A,   
);

$color-mixin:black;

//Commons NO necesita leer a NADIE

*/